*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}

header{
    height: 100vh;
    background-image: url(../../img/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.menu{
    position: fixed;
    /* z-index: 10; */
    top: 30px;
    right: 30px;
    background: #ffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

/* header:hover .menu-navegacion{
    transform: translate(110%);
} */

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.parrafo-1{
    font-weight: 300;
    font-size: 25px;
}

/* Quien soy */

.subtitulo{
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-quien-soy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.contenedor-quien-soy img{
    width: 40%;
}

.contenido-quien-soy{
    width: 45%;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    padding: 100px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
}

/* Estudios */


.contenedor-estudios-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-estudios-1 img{
    width: 40%;
}

.contenido-estudios-2{
    width: 45%;
    background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
    padding: 100px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 40px;
}

.contenido-estudios-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenido-estudios-3 img{
    width: 33%;
}

/* Proyectos */

.contenedor-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-proyectos img{
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.contenido-proyectos{
    width: 45%;
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    padding: 100px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 40px;
}

.contenido-proyectos-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* cursor: pointer; */
    width: 100%;
}


.contenido-proyectos-2 img{
    width: 40%;
    border-radius: 10px;
}

.contenido-proyectos-2 p{
    width: 40%;
    font-size: 20px;
    text-align: center;
}

/* img light */

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(120%);
    transition: transform .2 ease-in-out;
}

.mostrar{
    transform: translate(0);
}

.agg-img{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform:scale(0);
    transition: transform .3s .2s;
}

.mostrar-Imagen{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px; 
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/* Contactame */

footer{
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.redes-sociales{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.icono-redes-sociales{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    background: white;
    border-radius: 50%;
    text-align: center;
    color: black;
}

.icono-redes-sociales:hover{
    background: black;
    color: #fff;
}

.icono-redes-sociales i{
    font-size: 30px;
    line-height: 60px;
}

.linea {
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
    height: 2px;
    background: black;
    margin-bottom: 60px;
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-quien-soy img{
        width: 80%;
        margin-bottom: 40px;
    }

    .contenido-quien-soy{
        width: 80%;
    }

    .agg-img{
        width: 80%;
    }

    .contenedor-estudios-1 img{
        width: 80%;
        margin-bottom: 40px;
    }

    .contenido-estudios-2{
        width: 80%;
    }

    .contenido-estudios-3 img{
        width: 80%;

    }
    
    .contenido-proyectos{
        width: 80%;
    }

    .footer-content{
        width: 80%;
        justify-content: center;
    }

    .redes-sociales{
        margin-top: 40px;
        width: 80%;
        justify-content: space-between;
    }

    .icono-redes-sociales i{
        margin-left: 0;
    }
}

